@model RentaCar.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Customer Birthdate: @Model.Birthdate</li>
    <li>Membership Type: @Model.MembershipType.Name</li>
    <li>Membership Discount Rate: @Model.MembershipType.DiscountRate</li>
    <li>Membership Duration: @Model.MembershipType.DurationInMonths</li>
    <li>Membership Fee: @Model.MembershipType.SignUpFee</li>
</ul>